body{

    font-family: poppins;
}


.form {
    width: 80%;
    margin: auto;
}

form .register-form input[type=checkbox].inline {
    /* display: inline !important; */
    width: 10px;
    margin: 0px !important;
    padding: 0px !important;
}


.register-form span {
    padding-left: 20px;
    display:inline!important;
}

.form .register-form input {
    /* display: block; */
    width: calc(100% - 16px);
    padding: 8px 4px;
    margin: 8px 0px;
    border-radius: 15px;
    border: 1px solid rgb(7, 71, 134);
    outline: none;
    padding-left: 12px;
}

.form .register-form button {
    /* display: inline; */
    padding: 8px 4px;
    margin: 8px 0px;
    border-radius: 15px;
    border: 1px solid rgb(7, 71, 134);
    outline: none;
    padding-left: 15px;   
}

.form .register-form button.main {
    width: 100% !important;
    text-align: left;
    background: rgb(7, 71, 134);
    color: white;
}

.form .register-form button.second {
    width: 52.5% !important;
    float: right;
    text-align: left;
    background: transparent;
    color: rgb(7, 71, 134);
}

.triangle-topleft { 
    width: 0; 
    height: 0; 
    border-top: 100px solid rgb(7, 71, 134); 
    border-right: 100px solid transparent; 
    position: absolute;
    left:0px; 
    top:0px
}

.triangle-bottomright { 
    width: 0; 
    height: 0; 
    border-bottom: 100px solid rgb(7, 71, 134); 
    border-left: 100px solid transparent; 
    position: absolute;
    right:0px;
    bottom:0px;
} 

.icon{
    padding-top: 16px !important;
}

#control-main-div{
    width: 95%;
    margin-left: 2%;
    margin-top: 20%;
}