body{
    padding:0px;
}

section{
    Padding-top:50%;
}

.form {
    width: 75%;
    margin: auto;
}

form .register-form input.inline {
    display: inline !important;
    width: auto;
    margin: 0px !important;
    padding: 0px !important;
}


.register-form span {
    padding-left: 20px;
    display:inline!important;
}

.form .register-form input {
    display: block;
    width: 100%;
    padding: 8px 4px;
    margin: 4px 0px;
    border-radius: 15px;
    border: 1px solid rgb(7, 71, 134);
    outline: none;
    padding-left: 12px;
}

.form .register-form button {
    display: inline;
    padding: 8px 4px;
    margin: 8px 0px;
    border-radius: 15px;
    border: 1px solid rgb(7, 71, 134);
    outline: none;
    padding-left: 15px;   
}

.form .register-form button.main {
    width: 100% !important;
    text-align: left;
    background: rgb(7, 71, 134);
    color: white;
}

.form .register-form button.second {
    width: 52.5% !important;
    float: right;
    text-align: left;
    background: transparent;
    color: rgb(7, 71, 134);
}

/*.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}*/